{% extends 'dashboard.html' %} {% block content %}
<main>
  <section>
    <h1>Welcome to Ninja Truck Dispatcher</h1>
    <p>Use the navigation links to access different pages.</p>
  </section>

  <section id="about_us">
    <h2>About Us</h2>
    <p><strong>Professional Truck Dispatching</strong></p>
    <p>
      Quality Communication: Our dispatchers work to find you the best freight
      for Dry Van, Reefer, Flatbed, and Auto Transporters. We offer both daytime
      operations as well as night time, 3rd Shift Dispatch. All of our
      dispatchers go through a 3-month training before working directly with
      drivers! Our focus is on excellent communication on behalf of the client
      that we represent.
    </p>
    <p>
      Drivers Are Our Priority: We stand side by side with our truck drivers to
      plan out the best working schedule that fits with their life. At Ninja
      Dispatch we take into account the personal life that needs respected and
      like to consider our drivers as a part of the family. Our drivers call the
      shots and are our top priority!
    </p>
  </section>

  <section id="services">
    <h2>Services</h2>
    <p>Night dispatch, best trucking companies</p>
    <p>Voted #1 dispatching company by industry leader Freight Waves</p>
    <h2>Technology Meets Trucking</h2>
    <p>
      3rd Shift Dispatcher: Work Smart. All dispatchers are proficient in using
      all of today's trucking industry software. From TMS Systems to ELD, we
      know it all! Our company streamlines the communication between brokers and
      carriers through our Google Cloud Network. Don’t miss a beat and have
      everything a mouse click away. At the end of each week, you’ll receive
      your Weekly Load Sheet giving you the analytics behind your operation.
    </p>
  </section>

  <section id="contact">
    <h2>Contact Us</h2>
    <p><strong>Ninja Dispatch Pricing</strong></p>
    <p>
      Carrier Type: Night Dispatch, Tow Dispatch, Car Hauler, Owner Operator,
      Trucking Fleet
    </p>
    <p>
      The Best 3rd Shift Dispatch Service: Do you need night dispatchers to
      handle your after-hours needs? Ninja Dispatch specializes in night and
      weekend dispatch. We have Trans-Atlantic offices in the USA and Europe and
      are able to offer trucking companies top-tier night dispatch service
      throughout evenings & weekends.
    </p>
    <p>
      Contact us today and speak to a representative about your needs for
      overnight dispatch.
    </p>
  </section>
</main>
{% endblock %}
